body {    
    background-color: #08161e;
    color:azure;
    font-family: 'Courier New', Courier, monospace;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.container {
    margin-top: 30px;
}

#myButton {
    border: none;
    width: 128px;
    height: 64px;
    background-color: aquamarine;
    color: #222;
    font-weight: bold;
}

.center-text{
    text-align: center;
}
.demoIMG{
    margin-top: 40px;
    width: 800px;
    height: 560px;
    align-self: center;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.title_photo {
    text-align: center;
    margin-left: 80px;
}

.profileIMG{
    background: url(../image/profileIMG.jpg) no-repeat center center;
    background-size: 100%;
    width: 560px;
    height: 560px;
}
.item2{
    background-size: 100%;
    width: 560px;
    height: 560px;
    background: url(../image/item2.png) no-repeat center center;
}
.item3{
    background-size: 100%;
    width: 560px;
    height: 560px;
    background: url(../image/item3.png) no-repeat center center;
}
.nav_logo{
    background: url(../image/logo.png) no-repeat center center;
    background-size: 100%;
    width: 54px;
    height: 50px;
}


.login-page {
    width: 520px;
    outline: 0;
    margin: auto;
    text-align: center;
    align-items: center;
  }
input{
    border: none;
    outline: none;
}
.form__reg {
    outline: 0;
    background: #f2f2f2;
    width: 480;
    border: 0;
    padding: 15px;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
  }
.form__post{
    outline: 0;
    background: #f2f2f2;
    width: 240;
    border: 0;
    padding: 15px;
    margin-bottom: 16px;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
  }

.btn__reg {
    outline: 0;
    background: aquamarine;
    width: 264;
    border: 0;
    padding: 15px;
    margin-top: 24px;
    color: #222;
    font-size: 14px;
  }
.btn__reg:hover,.btn__reg:active,.btn__reg:focus {
    background: #43A047;
  }
.text-left{
    padding: 4px;
    margin-top: 8px;
}